.btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 10px;
}
.btn:hover {
  background: black;
  color: white;
  transition: 0.5s ease;
}

.bg-orange {
  background: rgb(250, 174, 33);
}
.bg-red {
  background: red;
}
.bg-green {
  background: green;
}
